<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <!------------------ Main ------------------->
    <main>
      <!-- Carrusel de Imagenes -->
      <section class="splide content-center" aria-labelledby="carousel-heading">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img
                class="responsive_image"
                src="/images/aitana.png"
                alt="Img 1"
              />
            </li>
            <li class="splide__slide">
              <img
                class="responsive_image"
                src="/images/tanBionica.png"
                alt="Img 2"
              />
            </li>
            <li class="splide__slide">
              <img
                class="responsive_image"
                src="/images/benjaminAmadeo.png"
                alt="Img 3"
              />
            </li>
          </ul>
        </div>
      </section>

      <!-- Seccion 1 -->
      <section class="product-section">
        <h2><i class="fa-solid fa-star"></i> Todos los Shows</h2>

        <!-- Contenedor de las cards -->
        <div class="cards-container">
          <!-- producto -->
          <% list.forEach(product => { %>
            <article class="product">
              <img src="<%= product.imagen %>" alt="Imagen de Show" />
              <h3><%= product.nombre %></h3>
              <div class="product-info">
                <div class="left-info">
                  <p>Mie</p>
                  <p><span>08</span></p>
                  <p>NOV 2023</p>
                </div>
                <div class="right-info">
                  <p>
                    <i
                      class="fa-solid fa-location-dot"
                      style="color: #000000"
                    ></i>
                    Lugar del Show
                  </p>
                  <a href="/products/<%= product.id %>">Comprar</a>
                </div>
              </div>
            </article>
          <% }) %>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script>
      // Que es esto?
      document.addEventListener("DOMContentLoaded", function () {
        var splide = new Splide(".splide");
        splide.mount();
      });
    </script>
  </body>
</html>
